.size-small  { width: 30%; }
.size-medium { width: 60%; }
.size-large  { width: 90%; }
.size-full   { width: 90%; }

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

img[alt~="smaller"] { max-width: 20%; }
img[alt~="small"]   { max-width: 30%; }
img[alt~="medium"]  { max-width: 60%; }
img[alt~="full"]    { max-width: 100%; }
img[alt~="center"]  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img[alt~="inline_circle"] {
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}

pre code {
  font-size: 0.9rem;
}

img + em {
  display: block;
  text-align: center;
  font-size: 0.9em;
  opacity: 0.8;
}

.note {
  border-left: 4px solid #4da3ff;
  padding-left: 1rem;
  margin: 1.5rem 0;
}
